/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status
.byebug_history

martilla.yml
backup.sql
backup.sql.gz

test-database-dump.sql
test-database-dump.sql.gz
